.live-tracking-container {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.live-tracking-header {
  color: #007bff; /* Bootstrap primary color */
  margin-bottom: 24px;
  text-align: center;
}

.live-tracking-group-details {
  background-color: #fff; /* White background for group details */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group-name-title {
  font-size: 1.2rem;
  color: #343a40; /* Bootstrap dark gray */
}

.group-name {
  color: #007bff; /* Bootstrap primary color */
}

.leader-details, .user-details {
  background-color: #e9ecef; /* Bootstrap light gray */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.current-leader, .leader-score {
  margin-bottom: 0;
  color: #495057; /* Bootstrap gray */
}

strong {
  color: #28a745; /* Bootstrap success color */
}
